<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vickykdv.resepmamah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResepMamah">
        <activity android:name=".ui.searchrecipes.SearchRecipesActivity" />
        <activity
            android:name=".ui.detailRecipe.DetailRecipesActivity"
            android:label="@string/title_activity_detail_recipes"
            android:theme="@style/Theme.ResepMamah.NoActionBar" />
        <activity android:name=".ui.dashboard.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.allrecipes.AllRecipeActivity" />
    </application>

</manifest>